# Ignore CatBoost info folder
catboost_info/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.env

# Ignore logs and temp files
*.log
*.tmp
