# Ignore CatBoost info folder
catboost_info/

# Ignore any CatBoost stuff
Model_Training_old.ipynb

# Ignore Python cache files
__pycache__/
*.py[cod]
__init__.py

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.env

# Ignore logs and temp files
*.log
*.tmp

# Ignore model files
*.json
*.cbm

